@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
/* .noto-sans kr-<uniquifier> {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  } */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
img {
  vertical-align: middle;
  border: 0;
}
ul,
li {
  list-style: none;
}
html {
  font-size: 10px;
  word-break: keep-all;
}
body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1.3rem;
  background-color: #eee;
}
/* 공통 클래스 */
.inner {
  display: block;
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
}
/* Best 상세페이지 */
.best .section-top {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.best .section-top span {
  position: absolute;
  bottom: 15px;
  right: 0;
}
/* best-top */
.best {
  position: relative;
}
.best .inner {
  width: 1200px;
}
.products {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  position: relative;
}
.section-top span {
  font-size: 1.5rem;
}
/* best 공통 */
.best-img {
  width: 275px;
  height: 320px;
  position: relative;
}
.best-text {
  position: absolute;
  font-size: 1.2rem;
  top: 10px;
  left: 10px;
  padding-top: 5px;
  color: #fff;
  width: 50px;
  height: 50px;
  background-color: #2f2f2f;
  text-align: center;
  line-height: 20px;
  border-radius: 4px;
}
.best-contents-top {
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}
.colors {
  margin-left: 20px;
  margin-top: 15px;
  display: flex;
  gap: 10px;
  cursor: pointer;
}
.size {
  margin-right: 20px;
  margin-top: 15px;
  display: flex;
  gap: 7px;
}
.size span {
  font-size: 1.3rem;
  line-height: 20px;
  text-align: center;
}
select {
  /* -moz-appearance: none; */
  /* -webkit-appearance: none; */
  /* appearance: none; */
  font-size: 1.3rem;
  line-height: 15px;
  color: #444;
  /* padding: 3px 6px 6px 5px; */
  margin: 0;
  /* text-align: center; */
  border: 1px solid #aaa;
  border-radius: 3px;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
}
.size-choose {
  color: #5d5d5d;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}
select:hover {
  border-color: #888;
}
select:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 1px rgba(201, 201, 201, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}
select:disabled {
  opacity: 0.5;
}
.product-name {
  display: inline-block;
  color: #000;
  font-size: 1.4rem;
  margin-top: 15px;
  margin-left: 20px;
}
.product-price {
  font-size: 1.4rem;
  font-weight: 600;
  margin-top: 15px;
  margin-left: 20px;
}
.icon {
  display: flex;
  margin-bottom: 8px;
  margin-left: 200px;
  position: absolute;
  right: 9px;
  bottom: 0px;
}
.icon i {
  font-size: 2.5rem;
  /* position: absolute;
  right: 0;
  bottom: 0px; */
}
.xi-cart-o {
  padding-right: 12px;
}
.icon {
  cursor: pointer;
}
/* ===== heart 아이콘 ===== */
.xi-heart-o {
  display: inline;
  padding-right: 0;
}
.xi-heart {
  display: none;
}
/* best1 */
.best1 {
  width: 275px;
  height: 450px;
  box-shadow: 2px 4px 10px 3px rgb(219, 219, 219);
  background-color: #fff;
  position: relative;
}
.best1 .color1 {
  width: 16px;
  height: 10px;
  background-color: #fff;
  border: 0.1px solid #a7a7a7;
}
.best1 .color2 {
  width: 16px;
  height: 10px;
  background-color: #a7a7a7;
}
.best1 .color3 {
  width: 16px;
  height: 10px;
  background-color: #000;
}
/* best2 */
.best2 {
  width: 275px;
  height: 450px;
  box-shadow: 2px 4px 10px 3px rgb(219, 219, 219);
  background-color: #fff;
  position: relative;
}
.best2 .color1 {
  width: 16px;
  height: 10px;
  background-color: #fff;
  border: 0.1px solid #a7a7a7;
}
.best2 .color2 {
  width: 16px;
  height: 10px;
  background-color: #ffe9e9;
}
.best2 .color3 {
  width: 16px;
  height: 10px;
  background-color: #ffe1d8;
}
.best2 .color4 {
  width: 16px;
  height: 10px;
  background-color: #000;
}
/* best3 */
.best3 {
  width: 275px;
  height: 450px;
  box-shadow: 2px 4px 10px 3px rgb(219, 219, 219);
  background-color: #fff;
  position: relative;
}
.best3 .color1 {
  width: 16px;
  height: 10px;
  background-color: #fff;
  border: 0.1px solid #a7a7a7;
}
.best3 .color2 {
  width: 16px;
  height: 10px;
  background-color: #8b9eaf;
}
/* best4 */
.best4 {
  width: 275px;
  height: 450px;
  box-shadow: 2px 4px 10px 3px rgb(219, 219, 219);
  background-color: #fff;
  position: relative;
}
.best4 .color1 {
  width: 16px;
  height: 10px;
  background-color: #fff;
  border: 0.1px solid #a7a7a7;
}
.best4 .color2 {
  width: 16px;
  height: 10px;
  background-color: #000;
}
.section-center-top {
  height: 100px;
  /* background-color: #444; */
  position: relative;
}
.section-center-list {
  display: flex;
  justify-content: flex-end;
  gap: 14px;
  position: absolute;
  top: 60px;
  right: 0;
}
.section-center-list li:not(:last-child) {
  position: relative;
  display: inline-block;
  padding-right: 14px; /* 각 요소 사이의 간격 조정 */
}
.section-center-list li span {
  cursor: pointer;
}
.section-center-list li:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 0.5px;
  background-color: black;
}
.best-img > a > img {
  width: 275px;
  height: 320px;
}
.best-contents > .products {
  display: flex;
  flex-wrap: wrap;
  gap: 50px 0;
}
/* best5 */
.best5 {
  width: 275px;
  height: 450px;
  box-shadow: 2px 4px 10px 3px rgb(219, 219, 219);
  background-color: #fff;
  position: relative;
}
.best5 .color1 {
  width: 16px;
  height: 10px;
  background-color: #6d605a;
}
/* best6 */
.best6 {
  width: 275px;
  height: 450px;
  box-shadow: 2px 4px 10px 3px rgb(219, 219, 219);
  background-color: #fff;
  position: relative;
}
.best6 .color1 {
  width: 16px;
  height: 10px;
  background-color: #a7a7a7;
}
.best6 .color2 {
  width: 16px;
  height: 10px;
  background-color: #000000;
}
/* best7 */
.best7 {
  width: 275px;
  height: 450px;
  box-shadow: 2px 4px 10px 3px rgb(219, 219, 219);
  background-color: #fff;
  position: relative;
}
.best7 .color1 {
  width: 16px;
  height: 10px;
  background-color: #fff;
  border: 0.1px solid #a7a7a7;
}
.best7 .color2 {
  width: 16px;
  height: 10px;
  background-color: #000000;
}
/* best8 */
.best8 {
  width: 275px;
  height: 450px;
  box-shadow: 2px 4px 10px 3px rgb(219, 219, 219);
  background-color: #fff;
  position: relative;
}
.best8 .color1 {
  width: 16px;
  height: 10px;
  background-color: #fff6e9;
  border: 0.1px solid #a7a7a7;
}
.best8 .color2 {
  width: 16px;
  height: 10px;
  background-color: #000000;
}
/* best9 */
.best9 {
  width: 275px;
  height: 450px;
  box-shadow: 2px 4px 10px 3px rgb(219, 219, 219);
  background-color: #fff;
  position: relative;
}
.best9 .color1 {
  width: 16px;
  height: 10px;
  background-color: #fff6e9;
  border: 0.1px solid #a7a7a7;
}
.best9 .color2 {
  width: 16px;
  height: 10px;
  background-color: #141c67;
}
.best9 .color3 {
  width: 16px;
  height: 10px;
  background-color: #000;
}
/* best10 */
.best10 {
  width: 275px;
  height: 450px;
  box-shadow: 2px 4px 10px 3px rgb(219, 219, 219);
  background-color: #fff;
  position: relative;
}
.best10 .color1 {
  width: 16px;
  height: 10px;
  background-color: #fff;
  border: 0.1px solid #a7a7a7;
}
.best10 .color2 {
  width: 16px;
  height: 10px;
  background-color: #000;
}
/* best11 */
.best11 {
  width: 275px;
  height: 450px;
  box-shadow: 2px 4px 10px 3px rgb(219, 219, 219);
  background-color: #fff;
  position: relative;
}
.best11 .color1 {
  width: 16px;
  height: 10px;
  background-color: #000;
}
/* best12 */
.best12 {
  width: 275px;
  height: 450px;
  box-shadow: 2px 4px 10px 3px rgb(219, 219, 219);
  background-color: #fff;
  position: relative;
}
.best12 .color1 {
  width: 16px;
  height: 10px;
  background-color: #fff;
  border: 0.1px solid #a7a7a7;
}
.best12 .color2 {
  width: 16px;
  height: 10px;
  background-color: #000;
}
/* best13 */
.best13 {
  width: 275px;
  height: 450px;
  box-shadow: 2px 4px 10px 3px rgb(219, 219, 219);
  background-color: #fff;
  position: relative;
}
.best13 .color1 {
  width: 16px;
  height: 10px;
  background-color: #000;
}
/* best14 */
.best14 {
  width: 275px;
  height: 450px;
  box-shadow: 2px 4px 10px 3px rgb(219, 219, 219);
  background-color: #fff;
  position: relative;
}
.best14 .color1 {
  width: 16px;
  height: 10px;
  background-color: #4b4b4b;
}
/* best15 */
.best15 {
  width: 275px;
  height: 450px;
  box-shadow: 2px 4px 10px 3px rgb(219, 219, 219);
  background-color: #fff;
  position: relative;
}
.best15 .color1 {
  width: 16px;
  height: 10px;
  background-color: #4b4b4b;
}
/* best16 */
.best16 {
  width: 275px;
  height: 450px;
  box-shadow: 2px 4px 10px 3px rgb(219, 219, 219);
  background-color: #fff;
  position: relative;
}
.best16 .color1 {
  width: 16px;
  height: 10px;
  background-color: #fff;
  border: 0.1px solid #a7a7a7;
}
.best16 .color2 {
  width: 16px;
  height: 10px;
  background-color: #a7a7a7;
}
.best16 .color3 {
  width: 16px;
  height: 10px;
  background-color: #000;
}
/* best17 */
.best17 {
  width: 275px;
  height: 450px;
  box-shadow: 2px 4px 10px 3px rgb(219, 219, 219);
  background-color: #fff;
  position: relative;
}
.best17 .color1 {
  width: 16px;
  height: 10px;
  background-color: #a7a7a7;
}
.best17 .color2 {
  width: 16px;
  height: 10px;
  background-color: #000;
}
/* best18 */
.best18 {
  width: 275px;
  height: 450px;
  box-shadow: 2px 4px 10px 3px rgb(219, 219, 219);
  background-color: #fff;
  position: relative;
}
.best18 .color1 {
  width: 16px;
  height: 10px;
  background-color: #fff6e9;
  border: 0.1px solid #a7a7a7;
}
.best18 .color2 {
  width: 16px;
  height: 10px;
  background-color: #000;
}
/* best19 */
.best19 {
  width: 275px;
  height: 450px;
  box-shadow: 2px 4px 10px 3px rgb(219, 219, 219);
  background-color: #fff;
  position: relative;
}
.best19 .color1 {
  width: 16px;
  height: 10px;
  background-color: #fff6e9;
  border: 0.1px solid #a7a7a7;
}
.best19 .color2 {
  width: 16px;
  height: 10px;
  background-color: #000;
}
/* best20 */
.best20 {
  width: 275px;
  height: 450px;
  box-shadow: 2px 4px 10px 3px rgb(219, 219, 219);
  background-color: #fff;
  position: relative;
}
.best20 .color1 {
  width: 16px;
  height: 10px;
  background-color: #fff6e9;
  border: 0.1px solid #a7a7a7;
}
.best20 .color2 {
  width: 16px;
  height: 10px;
  background-color: #a7a7a7;
}
.best20 .color3 {
  width: 16px;
  height: 10px;
  background-color: #000;
}
.section-bottom {
  width: 100%;
  /* background-color: indianred; */
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 60px;
}
.section-bottom-left {
  display: flex;
  gap: 0 20px;
}
.section-bottom-center {
  display: flex;
  gap: 0 30px;
}
.section-bottom-right {
  display: flex;
  gap: 0 20px;
}
.section-bottom-left,
.section-bottom-right span {
  cursor: pointer;
  font-size: 1.6rem;
  color: #5d5d5d;
}
.section-bottom-center span {
  cursor: pointer;
  font-size: 1.8rem;
  color: #5d5d5d;
}
.section-bottom-center span:nth-child(1) {
  font-weight: 700;
}
