@charset "utf-8";
@media all and (max-width: 1240px) {
  .header .inner {
    padding: 0 10px;
  }
  .header-left {
    gap: 0 30px;
  }
  .header-menu .menu-list {
    gap: 0 20px;
  }
  .header-right {
    gap: 0 40px;
  }
  .header-right .mypage {
    gap: 0 20px;
  }
}
@media all and (max-width: 1200px) {
  .header-left {
    gap: 0 30px;
  }
  .header-right {
    gap: 0 30px;
  }
  .header-right .mypage {
    gap: 0 15px;
  }
}
@media all and (max-width: 1090px) {
  .header-left {
    gap: 0 15px;
  }
  .header-menu .menu-list {
    gap: 0 10px;
  }
  .header-right {
    gap: 0 15px;
  }
  .header-right .mypage {
    gap: 0 15px;
  }
}
@media all and (max-width: 1040px) {
  .header-left {
    gap: 0 10px;
  }
  .header-menu .menu-list {
    gap: 0 5px;
  }
  .header-menu > .menu-list > li > a {
    padding: 37px 15px;
  }
}
@media all and (max-width: 970px) {
  .header-left .header-menu .menu-list li a {
    font-size: 1.6rem;
  }
  .search-text {
    font-size: 1.4rem;
  }
  .search-bt{
    width: 18px;
    height: 18px;
  }
  .mypage li a {
    font-size: 1.6rem;
  }
}