@charset "utf-8";
@media all and (max-width: 1240px) {
  .inner {
    /* padding: 0 10px; */
  }
  .top-slide {
    /* padding: 0 10px; */
  }
  .header .inner {
    /* padding: 0 10px; */
  }
  .header-left {
    gap: 0 30px;
  }
  .header-menu .menu-list {
    gap: 0 20px;
  }
  .header-right {
    gap: 0 40px;
  }
  .header-right .mypage {
    gap: 0 20px;
  }
  .top-slide {
    /* width: 100%; */
    /* height: 500px; */
    height: 100%;
    padding-bottom: 37px;
    /* background-color: #2c2c2c; */
    /* background-color: #c6c6c6; */
  }
  .styling-list {
    display: grid;
    grid-template-columns: 450px 300px 300px;
    grid-template-rows: 330px 330px;
    column-gap: 73px;
    row-gap: 45px;
  }
  /* 스타일 가이드 왼쪽 */
  .styling1 {
    /* height: auto; */
    height: 700px;
  }
  .styling-top {
    width: 100%;
    height: auto;
    position: relative;
  }
  .styling-top img {
    width: 100%;
  }
  .styling-top .tag {
    margin-right: 20px;
  }
  .styling-bottom {
    /* width: 100%; */
    /* height: 90%; */
  }
  .styling-bottom-list {
    height: auto;
  }
  .styling-bottom1::after {
    height: 170px;
    top: 55%;
    left: 150px;
  }
  .styling-bottom2::after {
    height: 170px;
    top: 55%;
    left: 320px;
  }
  .styling-bottom-ect {
    height: auto;
    margin-top: 30px;
  }
  /* 오른쪽 */
  .styling2 img,
  .styling3 img,
  .styling4 img,
  .styling5 img {
    width: 100%;
    height: 100%;
  }
}
@media all and (max-width: 1230px) {
  .inner {
    padding: 0 20px;
  }
  /* .header .inner {
    padding: 0 10px;
  } */
}
@media all and (max-width: 1220px) {
  .best-img {
    width: 265px;
    height: 300px;
    position: relative;
  }
  .best-img a img {
    width: 265px;
  }
  .best1,
  .best2,
  .best3,
  .best4 {
    width: 265px;
    height: 440px;
  }
  .icon {
    display: flex;
    margin-top: 7px;
    margin-left: 190px;
  }
  .colors {
    margin-top: 30px;
  }
}
@media all and (max-width: 1200px) {
  .header-left {
    gap: 0 30px;
  }
  .header-right {
    gap: 0 30px;
  }
  .header-right .mypage {
    gap: 0 15px;
  }
}
@media all and (max-width: 1140px) {
  .best-img {
    width: 255px;
    height: 290px;
    position: relative;
  }
  .best-img a img {
    width: 255px;
  }
  .best1,
  .best2,
  .best3,
  .best4 {
    width: 255px;
    height: 430px;
  }
  .icon {
    display: flex;
    margin-top: 7px;
    margin-left: 180px;
  }
  .colors {
    margin-top: 30px;
  }
}
@media all and (max-width: 1146px) {
  .styling-list {
    grid-template-columns: 400px 270px 270px;
    grid-template-rows: 320px 320px;
    column-gap: 20px;
    row-gap: 20px;
  }
  /* 스타일 가이드 왼쪽 */
  .styling1 {
    /* height: auto; */
    height: 661px;
  }
  .styling-bottom {
    /* height: 100%; */
  }
  .styling-bottom-list {
    height: auto;
  }
  .styling-bottom1::after {
    height: 170px;
    top: 60%;
    left: 130px;
  }
  .styling-bottom2::after {
    height: 170px;
    top: 60%;
    left: 280px;
  }
  .styling-bottom-ect {
    height: auto;
    margin-top: 30px;
  }
  .heart {
    bottom: 5px;
  }
}
@media all and (max-width: 1110px) {
  .header-right {
    gap: 0 15px;
  }
  .header-right .mypage {
    gap: 0 15px;
  }
}
@media all and (max-width: 1090px) {
  .header-left {
    gap: 0 15px;
  }
  .header-menu .menu-list {
    gap: 0 10px;
  }
  .shop-submenu {
    width: 120px;
    height: 275px;
    line-height: 35px;
    top: 59px;
    left: -14px;
    padding-top: 10px;
  }
  .header-left .header-menu .menu-list .shop-list ul li a {
    font-size: 1.5rem;
  }
  .sale-submenu {
    width: 120px;
    height: 130px;
    line-height: 35px;
    top: 59px;
    right: -20px;
    padding-top: 10px;
  }
  .header-left .header-menu .menu-list .sale-list ul li a {
    font-size: 1.5rem;
  }
  .best-img {
    width: 245px;
    height: 280px;
    position: relative;
  }
  .best-img a img {
    width: 245px;
  }
  .best1,
  .best2,
  .best3,
  .best4 {
    width: 245px;
    height: 420px;
  }
  .icon {
    display: flex;
    margin-top: 7px;
    margin-left: 170px;
  }
  .colors {
    margin-top: 30px;
  }
}
@media all and (max-width: 1060px) {
  .shop-submenu {
    width: 110px;
    height: 275px;
    line-height: 35px;
    top: 59px;
    left: -10px;
    padding-top: 10px;
  }
  .header-left .header-menu .menu-list .shop-list ul li a {
    font-size: 1.5rem;
  }
  .sale-submenu {
    width: 110px;
    height: 130px;
    line-height: 35px;
    top: 59px;
    right: -13px;
    padding-top: 10px;
  }
  .header-left .header-menu .menu-list .sale-list ul li a {
    font-size: 1.5rem;
  }
}
@media all and (max-width: 1040px) {
  .header-left {
    gap: 0 10px;
  }
  .header-menu .menu-list {
    gap: 0 5px;
  }
  .header-menu > .menu-list > li > a {
    padding: 37px 15px;
  }
  .shop-submenu {
    width: 100px;
    height: 265px;
    line-height: 35px;
    top: 59px;
    left: -11px;
    padding-top: 10px;
  }
  .header-left .header-menu .menu-list .shop-list ul li a {
    font-size: 1.4rem;
  }
  .sale-submenu {
    width: 100px;
    height: 120px;
    line-height: 35px;
    top: 59px;
    right: -13px;
    padding-top: 10px;
  }
  .header-left .header-menu .menu-list .sale-list ul li a {
    font-size: 1.4rem;
  }
  .best-img {
    width: 235px;
    height: 270px;
    position: relative;
  }
  .best-img a img {
    width: 235px;
  }
  .best1,
  .best2,
  .best3,
  .best4 {
    width: 235px;
    height: 410px;
  }
  .icon {
    display: flex;
    margin-top: 7px;
    margin-left: 160px;
  }
  .colors {
    margin-top: 30px;
  }
}
@media all and (max-width: 1030px) {
  .best4 {
    display: none;
  }
  .best-img {
    width: 285px;
    height: 330px;
    position: relative;
  }
  .best-img a img {
    width: 285px;
  }
  .best1,
  .best2,
  .best3 {
    width: 285px;
    height: 460px;
  }
  .icon {
    display: flex;
    margin-top: 7px;
    margin-left: 210px;
  }
  .colors {
    margin-top: 20px;
  }
  .styling-list {
    grid-template-columns: 350px 250px 250px;
    grid-template-rows: 270px 270px;
    row-gap: 75px;
  }
  /* 스타일 가이드 왼쪽 */
  .styling1 {
    height: 615px;
  }
  .styling-top .tag span {
    width: 50px;
  }
  .styling-bottom1::after {
    height: 180px;
    top: 58%;
    left: 120px;
  }
  .styling-bottom2::after {
    height: 180px;
    top: 58%;
    left: 255px;
  }
  .styling-bottom1 img,
  .styling-bottom2 img,
  .styling-bottom3 img {
    width: 95%;
    height: 100%;
  }
  .styling-bottom1 img {
    padding-top: 25px;
    padding-bottom: 10px;
  }
  .styling-bottom2 {
    margin-left: 10px;
  }
  .styling-bottom2 img {
    padding-top: 30px;
    padding-bottom: 57px;
  }
  .styling-bottom3 img {
    padding-top: 20px;
    padding-bottom: 42px;
  }
  .styling-bottom-ect {
    height: auto;
    margin-top: 10px;
  }
  .heart {
    bottom: -2px;
  }
  .styling-more-bt {
    display: inline-block;
    font-size: 1.3rem;
    line-height: 30px;
    color: #fff;
    font-weight: 300;
    margin-top: 12px;
    margin-left: 25px;
    width: 120px;
    height: 30px;
    background-color: #595959;
  }
}
@media all and (max-width: 1000px) {
  .top-slide .sw-bt {
    width: 47px;
    height: 47px;
  }
  .top-slide .sw-next {
    right: 5%;
  }
  .top-slide .sw-prev {
    left: 5%;
  }
  .pop-up img {
    width: 270px;
    height: 420px;
  }
}
@media all and (max-width: 970px) {
  .header-left .header-menu .menu-list li a {
    font-size: 1.6rem;
  }
  .search-text {
    font-size: 1.4rem;
  }
  .search-bt {
    width: 18px;
    height: 18px;
  }
  .mypage li a {
    font-size: 1.6rem;
  }
  .search-input {
    align-items: center;
    width: 170px;
    height: 45px;
    border: none;
    background-color: #fff;
    border-bottom: 1.7px solid #797979;
  }
  .shop-submenu {
    width: 100px;
    height: 250px;
    line-height: 33px;
    top: 57px;
    left: -14px;
    padding-top: 10px;
  }
  .header-left .header-menu .menu-list .shop-list ul li a {
    font-size: 1.3rem;
  }
  .sale-submenu {
    width: 100px;
    height: 120px;
    line-height: 33px;
    top: 57px;
    right: -16px;
    padding-top: 10px;
  }
  .header-left .header-menu .menu-list .sale-list ul li a {
    font-size: 1.3rem;
  }
}
@media all and (max-width: 940px) {
  .styling1 {
    height: 750px;
  }
  .styling-bottom {
    height: 345px;
  }
  .styling4,
  .styling5 {
    display: none;
  }
  .styling-list {
    grid-template-columns: 450px 350px;
    grid-template-rows: 350px 350px;
    row-gap: 50px;
  }
  .styling3 {
    grid-column: 2/3;
  }
  /* 스타일 가이드 왼쪽 */
  .styling-bottom1::after {
    height: 190px;
    top: 58%;
    left: 150px;
  }
  .styling-bottom2::after {
    height: 190px;
    top: 58%;
    left: 320px;
  }
  .styling-bottom1 img,
  .styling-bottom2 img,
  .styling-bottom3 img {
    width: 100%;
    height: 100%;
  }
  .styling-bottom1 img {
    padding-top: 35px;
    padding-bottom: 25px;
  }
  .styling-bottom2 {
    margin-left: 0px;
  }
  .styling-bottom2 img {
    padding-top: 40px;
    padding-bottom: 75px;
  }
  .styling-bottom3 img {
    padding-top: 30px;
    padding-bottom: 60px;
  }
  .styling-bottom-ect {
    height: auto;
    margin-top: 30px;
  }
  .heart {
    bottom: -2px;
  }
  .styling-more-bt {
    display: inline-block;
    font-size: 1.3rem;
    line-height: 40px;
    color: #fff;
    font-weight: 300;
    margin-top: 12px;
    margin-left: 20px;
    width: 170px;
    height: 40px;
    background-color: #595959;
  }
}
@media all and (max-width: 920px) {
  .best-img {
    width: 275px;
    height: 320px;
    position: relative;
  }
  .best-img a img {
    width: 275px;
  }
  .best1,
  .best2,
  .best3 {
    width: 275px;
    height: 450px;
  }
  .icon {
    display: flex;
    margin-top: 7px;
    margin-left: 200px;
  }
  .colors {
    margin-top: 20px;
  }
  .top-button img {
    width: 40px;
    height: 40px;
  }
  .top-button {
    right: 30px;
  }
}
@media all and (max-width: 890px) {
  .header-left .header-menu .menu-list li a {
    font-size: 1.6rem;
  }
  .search-text {
    font-size: 1.4rem;
  }
  .search-bt {
    width: 18px;
    height: 18px;
  }
  .mypage li a {
    font-size: 1.6rem;
  }
  .search-input {
    align-items: center;
    width: 150px;
    height: 45px;
    border: none;
    background-color: #fff;
    border-bottom: 1.7px solid #797979;
  }
  .best-img {
    width: 265px;
    height: 310px;
    position: relative;
  }
  .best-img a img {
    width: 265px;
  }
  .best1,
  .best2,
  .best3 {
    width: 265px;
    height: 440px;
  }
  .icon {
    display: flex;
    margin-top: 7px;
    margin-left: 190px;
  }
  .colors {
    margin-top: 20px;
  }
  .header-menu .menu-list {
    gap: 0 5px;
  }
  .header-menu > .menu-list > li > a {
    padding: 37px 10px;
  }
}
@media all and (max-width: 860px) {
  .best-img {
    width: 255px;
    height: 300px;
    position: relative;
  }
  .best-img a img {
    width: 255px;
  }
  .best1,
  .best2,
  .best3 {
    width: 255px;
    height: 430px;
  }
  .icon {
    display: flex;
    margin-top: 7px;
    margin-left: 180px;
  }
  .colors {
    margin-top: 20px;
  }
}
@media all and (max-width: 872px) {
  .styling1 {
    height: 691px;
  }
  .styling-bottom {
    height: 330px;
  }
  .styling-list {
    grid-template-columns: 400px 300px;
    grid-template-rows: 330px 330px;
    row-gap: 30px;
  }
  /* 스타일 가이드 왼쪽 */
  .styling-bottom1::after {
    height: 195px;
    top: 58%;
    left: 135px;
  }
  .styling-bottom2::after {
    height: 195px;
    top: 58%;
    left: 285px;
  }
  .styling-bottom-ect {
    height: auto;
    margin-top: 20px;
  }
  .heart {
    bottom: -2px;
  }
  .styling-more-bt {
    display: inline-block;
    font-size: 1.3rem;
    line-height: 40px;
    color: #fff;
    font-weight: 300;
    margin-top: 12px;
    margin-left: 20px;
    width: 150px;
    height: 40px;
    background-color: #595959;
  }
}
@media all and (max-width: 837px) {
  .top-slide {
    display: none;
  }
  .top-slide-800 {
    display: block;
  }
}
@media all and (max-width: 820px) {
  .header-left .header-menu .menu-list li a {
    font-size: 1.5rem;
  }
  .search-text {
    font-size: 1.3rem;
  }
  .search-bt {
    width: 17px;
    height: 17px;
  }
  .mypage li a {
    font-size: 1.5rem;
  }
  .shop-submenu {
    width: 100px;
    height: 250px;
    line-height: 33px;
    top: 56px;
    left: -20px;
    padding-top: 10px;
  }
  .header-left .header-menu .menu-list .shop-list ul li a {
    font-size: 1.3rem;
  }
  .sale-submenu {
    width: 100px;
    height: 120px;
    line-height: 33px;
    top: 56px;
    right: -23px;
    padding-top: 10px;
  }
  .header-left .header-menu .menu-list .sale-list ul li a {
    font-size: 1.3rem;
  }
  .best-img {
    width: 245px;
    height: 290px;
    position: relative;
  }
  .best-img a img {
    width: 245px;
  }
  .best1,
  .best2,
  .best3 {
    width: 245px;
    height: 420px;
  }
  .icon {
    display: flex;
    margin-top: 7px;
    margin-left: 170px;
  }
  .colors {
    margin-top: 20px;
  }
}
@media all and (max-width: 800px) {
  .pop-up img {
    width: 250px;
    height: 400px;
  }
}
@media all and (max-width: 790px) {
  .header-left .header-menu .menu-list li a {
    font-size: 1.5rem;
  }
  .search-text {
    font-size: 1.3rem;
  }
  .search-bt {
    width: 17px;
    height: 17px;
  }
  .mypage li a {
    font-size: 1.5rem;
  }
  .search-input {
    align-items: center;
    width: 130px;
    height: 45px;
    border: none;
    background-color: #fff;
    border-bottom: 1.7px solid #797979;
  }
  .search-input {
    align-items: center;
    width: 120px;
    height: 45px;
    border: none;
    background-color: #fff;
    border-bottom: 1.7px solid #797979;
  }
  .best-img {
    width: 235px;
    height: 270px;
    position: relative;
  }
  .best-img a img {
    width: 235px;
  }
  .best1,
  .best2,
  .best3 {
    width: 235px;
    height: 410px;
  }
  .icon {
    display: flex;
    margin-top: 7px;
    margin-left: 160px;
  }
  .colors {
    margin-top: 30px;
  }
}
@media all and (max-width: 770px) {
  .top-slide-800 .sw-bt {
    width: 45px;
    height: 45px;
  }
  .top-slide-800 .sw-next-800 {
    right: 6%;
  }
  .top-slide-800 .sw-prev-800 {
    left: 6%;
  }
}
@media all and (max-width: 760px) {
  .inner {
    padding: 0 20px;
  }
  .topbanner {
    display: none;
  }
  /* 메뉴바 - 햄버거바 나오기 */
  .header {
    display: none;
  }
  .mbheader {
    display: block;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
  }
  body {
    margin-top: 70px;
  }
  .best3 {
    display: none;
  }
  .best-img {
    width: 295px;
    height: 340px;
    position: relative;
  }
  .best-img a img {
    width: 295px;
  }
  .best1,
  .best2 {
    width: 295px;
    height: 470px;
  }
  .icon {
    display: flex;
    margin-top: 7px;
    margin-left: 220px;
  }
  .colors {
    margin-top: 20px;
  }
}
@media all and (max-width: 755px) {
  .styling1 {
    height: 630px;
  }
  .styling-bottom {
    height: 314px;
  }
  .styling-list {
    grid-template-columns: 350px 300px;
    grid-template-rows: 300px 300px;
    /* row-gap: 15px; */
  }
  /* 스타일 가이드 왼쪽 */
  .styling-bottom1 img,
  .styling-bottom2 img,
  .styling-bottom3 img {
    width: 95%;
    height: 100%;
  }
  .styling-bottom1 img {
    padding-top: 25px;
    padding-bottom: 10px;
  }
  .styling-bottom2 {
    margin-left: 10px;
  }
  .styling-bottom2 img {
    padding-top: 30px;
    padding-bottom: 57px;
  }
  .styling-bottom3 img {
    padding-top: 20px;
    padding-bottom: 42px;
  }
  .styling-bottom1::after {
    height: 190px;
    top: 58%;
    left: 120px;
  }
  .styling-bottom2::after {
    height: 190px;
    top: 58%;
    left: 255px;
  }
  .styling-bottom-ect {
    height: auto;
    margin-top: 20px;
  }
  .heart {
    bottom: -2px;
  }
  .styling-more-bt {
    display: inline-block;
    font-size: 1.3rem;
    line-height: 40px;
    color: #fff;
    font-weight: 300;
    margin-top: 12px;
    margin-left: 20px;
    width: 150px;
    height: 40px;
    background-color: #595959;
  }
}
@media all and (max-width: 750px) {
  .pop-up img {
    width: 230px;
    height: 380px;
  }
}
@media all and (max-width: 737px) {
  .top-slide-800 {
    display: none;
  }
  .top-slide-700 {
    display: block;
  }
}
@media all and (max-width: 710px) {
  .styling2,
  .styling3 {
    display: none;
  }
  .styling-list {
    grid: none;
  }
  /* 스타일 가이드 왼쪽 */
  .styling1 {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  .styling-bottom {
    height: 300px;
  }
  .styling-bottom1 img,
  .styling-bottom2 img,
  .styling-bottom3 img {
    width: 100%;
    height: 100%;
  }
  .styling-bottom1 img {
    padding-top: 25px;
    padding-bottom: 10px;
  }
  .styling-bottom2 {
    margin-left: 0px;
  }
  .styling-bottom2 img {
    padding-top: 30px;
    padding-bottom: 60px;
  }
  .styling-bottom3 img {
    padding-top: 20px;
    padding-bottom: 45px;
  }
  .styling-bottom1::after {
    height: 190px;
    top: 58%;
    left: 33%;
  }
  .styling-bottom2::after {
    height: 190px;
    top: 58%;
    left: 69%;
  }
  .styling-bottom-ect {
    height: auto;
    margin-top: 20px;
  }
  .heart {
    bottom: 5px;
  }
  .styling-more-bt {
    display: inline-block;
    font-size: 1.3rem;
    line-height: 45px;
    color: #fff;
    font-weight: 300;
    margin-top: 12px;
    margin-left: 20px;
    /* width: 150px; */
    width: 30%;
    /* height: 45px; */
    height: 15%;
    background-color: #595959;
  }
}
@media all and (max-width: 700px) {
  .pop-up {
    display: none;
  }
  /* .pop-up img {
    width: 210px;
    height: 360px;
  } */
}
@media all and (max-width: 650px) {
  .pop-up img {
    width: 200px;
    height: 350px;
  }
}
@media all and (max-width: 640px) {
  .best-img {
    width: 285px;
    height: 330px;
    position: relative;
  }
  .best-img a img {
    width: 285px;
  }
  .best1,
  .best2 {
    width: 285px;
    height: 460px;
  }
  .icon {
    display: flex;
    margin-top: 7px;
    margin-left: 210px;
  }
  .colors {
    margin-top: 20px;
  }
}
@media all and (max-width: 637px) {
  .top-slide-700 {
    display: none;
  }
  .top-slide-600 {
    display: block;
  }
}
@media all and (max-width: 620px) {
  .best-img {
    width: 265px;
    height: 310px;
    position: relative;
  }
  .best-img a img {
    width: 265px;
  }
  .best1,
  .best2 {
    width: 265px;
    height: 440px;
  }
  .icon {
    display: flex;
    margin-top: 7px;
    margin-left: 190px;
  }
  .colors {
    margin-top: 20px;
  }
}
@media all and (max-width: 580px) {
  .best-img {
    width: 245px;
    height: 290px;
    position: relative;
  }
  .best-img a img {
    width: 245px;
  }
  .best1,
  .best2 {
    width: 245px;
    height: 420px;
  }
  .icon {
    display: flex;
    margin-top: 7px;
    margin-left: 170px;
  }
  .colors {
    margin-top: 20px;
  }
}
@media all and (max-width: 540px) {
  .best-img {
    width: 235px;
    height: 280px;
    position: relative;
  }
  .best-img a img {
    width: 235px;
  }
  .best1,
  .best2 {
    width: 235px;
    height: 410px;
  }
  .icon {
    display: flex;
    margin-top: 7px;
    margin-left: 160px;
  }
  .colors {
    margin-top: 20px;
  }
}
@media all and (max-width: 537px) {
  .top-slide-600 {
    display: none;
  }
  .top-slide-500 {
    display: block;
  }
}
@media all and (max-width: 520px) {
  .best2 {
    display: none;
  }
  .best-img {
    width: 305px;
    height: 350px;
    position: relative;
  }
  .best-img a img {
    width: 305px;
  }
  .best1 {
    width: 305px;
    height: 480px;
    margin: 0 auto;
  }
  .icon {
    display: flex;
    margin-top: 7px;
    margin-left: 230px;
  }
  .colors {
    margin-top: 20px;
  }
}
@media all and (max-width: 500px) {
  .mb-header-menu {
    font-size: 2.3rem;
  }
  .mb-header-right {
    display: flex;
    gap: 0 20px;
  }
  .mb-search i {
    font-size: 1.8rem;
    /* color: #797979; */
  }
  .mb-cart i {
    font-size: 1.8rem;
    color: #000;
  }
  .mb-center img {
    width: 90%;
  }
}
@media all and (max-width: 420px) {
  .styling-top .tag span {
    display: inline-block;
    font-size: 1rem;
    color: #474747;
    width: 45px;
    height: 20px;
    background-color: #b6b6b6;
    border-radius: 5px;
    text-align: center;
    line-height: 20px;
  }
  .styling1 {
    width: 100%;
    margin: 0 auto;
  }
  .styling-bottom {
    height: 280px;
  }
  .styling-bottom1 img,
  .styling-bottom2 img,
  .styling-bottom3 img {
    width: 90%;
    height: 100%;
  }
  .styling-name {
    font-size: 1.2rem;
    color: #2d2d2d;
    margin-bottom: 10px;
    display: inline-block;
  }
  .styling-price {
    font-size: 1.3rem;
    color: #000;
    font-weight: 500;
  }
  .styling-bottom1 img {
    padding-top: 25px;
    padding-bottom: 10px;
  }
  .styling-bottom2 {
    margin-left: 0px;
  }
  .styling-bottom2 img {
    padding-top: 30px;
    padding-bottom: 50px;
  }
  .styling-bottom3 img {
    padding-top: 20px;
    padding-bottom: 34px;
  }
  .styling-bottom1::after {
    height: 175px;
    top: 58%;
    left: 33%;
  }
  .styling-bottom2::after {
    height: 175px;
    top: 58%;
    left: 69%;
  }
  .styling-bottom-ect {
    height: auto;
    margin-top: 20px;
  }
  .heart {
    bottom: 5px;
  }
}
@media all and (max-width: 370px) {
  .styling-bottom1 img,
  .styling-bottom2 img,
  .styling-bottom3 img {
    width: 85%;
    height: 100%;
  }
  .styling-bottom {
    height: 265px;
  }
  .styling-name {
    font-size: 0.9rem;
    color: #2d2d2d;
    margin-bottom: 10px;
    display: inline-block;
  }
  .styling-price {
    font-size: 1.1rem;
    color: #000;
    font-weight: 500;
  }
  .styling-bottom1 img {
    padding-top: 25px;
    padding-bottom: 20px;
  }
  .styling-bottom1,
  .styling-bottom2 {
    margin-left: 10px;
  }
  .styling-bottom2 img {
    padding-top: 30px;
    padding-bottom: 38px;
  }
  .styling-bottom3 img {
    padding-top: 20px;
    padding-bottom: 26px;
  }
  .styling-bottom1::after {
    height: 160px;
    top: 58%;
    left: 33%;
  }
  .styling-bottom2::after {
    height: 160px;
    top: 58%;
    left: 72%;
  }
  .styling-bottom-ect {
    height: auto;
    margin-top: 20px;
  }
  .heart {
    bottom: 5px;
  }
}
@media all and (max-width: 360px) {
  .mb-header-menu {
    font-size: 2.3rem;
  }
  .mb-header-right {
    display: flex;
    gap: 0 20px;
  }
  .mb-center img {
    width: 80%;
  }
  .styling-bottom {
    height: 260px;
  }
}
@media all and (max-width: 350px) {
  .best-img {
    width: 285px;
    height: 330px;
    position: relative;
  }
  .best-img a img {
    width: 285px;
  }
  .best1 {
    width: 285px;
    height: 460px;
    margin: 0 auto;
  }
  .icon {
    display: flex;
    margin-top: 7px;
    margin-left: 210px;
  }
  .colors {
    margin-top: 20px;
  }
  .styling-top .tag a:nth-child(2) span {
    margin: 0 8px;
  }
  .styling-top .tag {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 10px;
    margin-right: 15px;
  }
  .styling-top .tag span {
    display: inline-block;
    font-size: 0.8rem;
    color: #474747;
    width: 40px;
    height: 15px;
    background-color: #b6b6b6;
    border-radius: 5px;
    text-align: center;
    line-height: 15px;
  }
}
@media all and (max-width: 330px) {
  .mb-center img {
    width: 70%;
  }
  .styling-bottom {
    height: 255px;
  }
}
@media all and (max-width: 1230px) {
  .styling-list {
    column-gap: 55px;
  }
}
@media all and (max-width: 1228px) {
  .styling-list {
    column-gap: 54px;
  }
}
@media all and (max-width: 1226px) {
  .styling-list {
    column-gap: 53px;
  }
}
@media all and (max-width: 1224px) {
  .styling-list {
    column-gap: 52px;
  }
}
@media all and (max-width: 1222px) {
  .styling-list {
    column-gap: 51px;
  }
}
@media all and (max-width: 1214px) {
  .styling-list {
    column-gap: 50px;
  }
}
@media all and (max-width: 1212px) {
  .styling-list {
    column-gap: 49px;
  }
}
@media all and (max-width: 1210px) {
  .styling-list {
    column-gap: 48px;
  }
}
@media all and (max-width: 1208px) {
  .styling-list {
    column-gap: 47px;
  }
}
@media all and (max-width: 1206px) {
  .styling-list {
    column-gap: 46px;
  }
}
@media all and (max-width: 1204px) {
  .styling-list {
    column-gap: 45px;
  }
}
@media all and (max-width: 1202px) {
  .styling-list {
    column-gap: 44px;
  }
}
@media all and (max-width: 1200px) {
  .styling-list {
    column-gap: 43px;
  }
}
@media all and (max-width: 1198px) {
  .styling-list {
    column-gap: 42px;
  }
}
@media all and (max-width: 1196px) {
  .styling-list {
    column-gap: 41px;
  }
}
@media all and (max-width: 1194px) {
  .styling-list {
    column-gap: 40px;
  }
}
@media all and (max-width: 1192px) {
  .styling-list {
    column-gap: 39px;
  }
}
@media all and (max-width: 1190px) {
  .styling-list {
    column-gap: 38px;
  }
}
@media all and (max-width: 1188px) {
  .styling-list {
    column-gap: 37px;
  }
}
@media all and (max-width: 1186px) {
  .styling-list {
    column-gap: 36px;
  }
}
@media all and (max-width: 1184px) {
  .styling-list {
    column-gap: 35px;
  }
}
@media all and (max-width: 1182px) {
  .styling-list {
    column-gap: 34px;
  }
}
@media all and (max-width: 1180px) {
  .styling-list {
    column-gap: 33px;
  }
}
@media all and (max-width: 1178px) {
  .styling-list {
    column-gap: 32px;
  }
}
@media all and (max-width: 1176px) {
  .styling-list {
    column-gap: 31px;
  }
}
@media all and (max-width: 1174px) {
  .styling-list {
    column-gap: 30px;
  }
}
@media all and (max-width: 1172px) {
  .styling-list {
    column-gap: 29px;
  }
}
@media all and (max-width: 1170px) {
  .styling-list {
    column-gap: 28px;
  }
}
@media all and (max-width: 1168px) {
  .styling-list {
    column-gap: 27px;
  }
}
@media all and (max-width: 1166px) {
  .styling-list {
    column-gap: 26px;
  }
}
@media all and (max-width: 1164px) {
  .styling-list {
    column-gap: 25px;
  }
}
@media all and (max-width: 1162px) {
  .styling-list {
    column-gap: 24px;
  }
}
@media all and (max-width: 1160px) {
  .styling-list {
    column-gap: 23px;
  }
}
@media all and (max-width: 1158px) {
  .styling-list {
    column-gap: 22px;
  }
}
@media all and (max-width: 1156px) {
  .styling-list {
    column-gap: 21px;
  }
}
@media all and (max-width: 1154px) {
  .styling-list {
    column-gap: 20px;
  }
}
@media all and (max-width: 1152px) {
  .styling-list {
    column-gap: 19px;
  }
}
@media all and (max-width: 1150px) {
  .styling-list {
    column-gap: 18px;
  }
}
@media all and (max-width: 1148px) {
  .styling-list {
    column-gap: 17px;
  }
}
@media all and (max-width: 1146px) {
  .styling-list {
    column-gap: 73px;
  }
}
@media all and (max-width: 1144px) {
  .styling-list {
    column-gap: 72px;
  }
}
@media all and (max-width: 1142px) {
  .styling-list {
    column-gap: 71px;
  }
}
@media all and (max-width: 1140px) {
  .styling-list {
    column-gap: 70px;
  }
}
@media all and (max-width: 1138px) {
  .styling-list {
    column-gap: 69px;
  }
}
@media all and (max-width: 1136px) {
  .styling-list {
    column-gap: 68px;
  }
}
@media all and (max-width: 1134px) {
  .styling-list {
    column-gap: 67px;
  }
}
@media all and (max-width: 1132px) {
  .styling-list {
    column-gap: 66px;
  }
}
@media all and (max-width: 1130px) {
  .styling-list {
    column-gap: 65px;
  }
}
@media all and (max-width: 1128px) {
  .styling-list {
    column-gap: 64px;
  }
}
@media all and (max-width: 1126px) {
  .styling-list {
    column-gap: 63px;
  }
}
@media all and (max-width: 1124px) {
  .styling-list {
    column-gap: 62px;
  }
}
@media all and (max-width: 1122px) {
  .styling-list {
    column-gap: 61px;
  }
}
@media all and (max-width: 1120px) {
  .styling-list {
    column-gap: 60px;
  }
}
@media all and (max-width: 1118px) {
  .styling-list {
    column-gap: 59px;
  }
}
@media all and (max-width: 1116px) {
  .styling-list {
    column-gap: 58px;
  }
}
@media all and (max-width: 1114px) {
  .styling-list {
    column-gap: 57px;
  }
}
@media all and (max-width: 1112px) {
  .styling-list {
    column-gap: 56px;
  }
}
@media all and (max-width: 1110px) {
  .styling-list {
    column-gap: 55px;
  }
}
@media all and (max-width: 1108px) {
  .styling-list {
    column-gap: 54px;
  }
}
@media all and (max-width: 1106px) {
  .styling-list {
    column-gap: 53px;
  }
}
@media all and (max-width: 1104px) {
  .styling-list {
    column-gap: 52px;
  }
}
@media all and (max-width: 1102px) {
  .styling-list {
    column-gap: 51px;
  }
}
@media all and (max-width: 1100px) {
  .styling-list {
    column-gap: 50px;
  }
}
@media all and (max-width: 1098px) {
  .styling-list {
    column-gap: 49px;
  }
}
@media all and (max-width: 1096px) {
  .styling-list {
    column-gap: 48px;
  }
}
@media all and (max-width: 1094px) {
  .styling-list {
    column-gap: 47px;
  }
}
@media all and (max-width: 1092px) {
  .styling-list {
    column-gap: 46px;
  }
}
@media all and (max-width: 1090px) {
  .styling-list {
    column-gap: 45px;
  }
}
@media all and (max-width: 1088px) {
  .styling-list {
    column-gap: 46px;
  }
}
@media all and (max-width: 1086px) {
  .styling-list {
    column-gap: 44px;
  }
}
@media all and (max-width: 1084px) {
  .styling-list {
    column-gap: 43px;
  }
}
@media all and (max-width: 1082px) {
  .styling-list {
    column-gap: 42px;
  }
}
@media all and (max-width: 1080px) {
  .styling-list {
    column-gap: 41px;
  }
}
@media all and (max-width: 1078px) {
  .styling-list {
    column-gap: 40px;
  }
}
@media all and (max-width: 1076px) {
  .styling-list {
    column-gap: 39px;
  }
}
@media all and (max-width: 1074px) {
  .styling-list {
    column-gap: 38px;
  }
}
@media all and (max-width: 1072px) {
  .styling-list {
    column-gap: 37px;
  }
}
@media all and (max-width: 1070px) {
  .styling-list {
    column-gap: 36px;
  }
}
@media all and (max-width: 1068px) {
  .styling-list {
    column-gap: 35px;
  }
}
@media all and (max-width: 1066px) {
  .styling-list {
    column-gap: 34px;
  }
}
@media all and (max-width: 1064px) {
  .styling-list {
    column-gap: 33px;
  }
}
@media all and (max-width: 1062px) {
  .styling-list {
    column-gap: 32px;
  }
}
@media all and (max-width: 1060px) {
  .styling-list {
    column-gap: 31px;
  }
}
@media all and (max-width: 1058px) {
  .styling-list {
    column-gap: 30px;
  }
}
@media all and (max-width: 1056px) {
  .styling-list {
    column-gap: 29px;
  }
}
@media all and (max-width: 1054px) {
  .styling-list {
    column-gap: 28px;
  }
}
@media all and (max-width: 1052px) {
  .styling-list {
    column-gap: 27px;
  }
}
@media all and (max-width: 1050px) {
  .styling-list {
    column-gap: 26px;
  }
}
@media all and (max-width: 1048px) {
  .styling-list {
    column-gap: 25px;
  }
}
@media all and (max-width: 1046px) {
  .styling-list {
    column-gap: 24px;
  }
}
@media all and (max-width: 1044px) {
  .styling-list {
    column-gap: 23px;
  }
}
@media all and (max-width: 1042px) {
  .styling-list {
    column-gap: 22px;
  }
}
@media all and (max-width: 1040px) {
  .styling-list {
    column-gap: 21px;
  }
}
@media all and (max-width: 1038px) {
  .styling-list {
    column-gap: 20px;
  }
}
@media all and (max-width: 1036px) {
  .styling-list {
    column-gap: 19px;
  }
}
@media all and (max-width: 1034px) {
  .styling-list {
    column-gap: 18px;
  }
}
@media all and (max-width: 1032px) {
  .styling-list {
    column-gap: 17px;
  }
}
@media all and (max-width: 1030px) {
  .styling-list {
    column-gap: 61px;
  }
}
@media all and (max-width: 1028px) {
  .styling-list {
    column-gap: 60px;
  }
}
@media all and (max-width: 1026px) {
  .styling-list {
    column-gap: 59px;
  }
}
@media all and (max-width: 1024px) {
  .styling-list {
    column-gap: 58px;
  }
}
@media all and (max-width: 1022px) {
  .styling-list {
    column-gap: 57px;
  }
}
@media all and (max-width: 1020px) {
  .styling-list {
    column-gap: 56px;
  }
}
@media all and (max-width: 1018px) {
  .styling-list {
    column-gap: 55px;
  }
}
@media all and (max-width: 1016px) {
  .styling-list {
    column-gap: 54px;
  }
}
@media all and (max-width: 1014px) {
  .styling-list {
    column-gap: 53px;
  }
}
@media all and (max-width: 1012px) {
  .styling-list {
    column-gap: 52px;
  }
}
@media all and (max-width: 1010px) {
  .styling-list {
    column-gap: 51px;
  }
}
@media all and (max-width: 1008px) {
  .styling-list {
    column-gap: 50px;
  }
}
@media all and (max-width: 1006px) {
  .styling-list {
    column-gap: 49px;
  }
}
@media all and (max-width: 1004px) {
  .styling-list {
    column-gap: 48px;
  }
}
@media all and (max-width: 1002px) {
  .styling-list {
    column-gap: 47px;
  }
}
@media all and (max-width: 1000px) {
  .styling-list {
    column-gap: 46px;
  }
}
@media all and (max-width: 998px) {
  .styling-list {
    column-gap: 45px;
  }
}
@media all and (max-width: 996px) {
  .styling-list {
    column-gap: 44px;
  }
}
@media all and (max-width: 994px) {
  .styling-list {
    column-gap: 43px;
  }
}
@media all and (max-width: 992px) {
  .styling-list {
    column-gap: 42px;
  }
}
@media all and (max-width: 990px) {
  .styling-list {
    column-gap: 41px;
  }
}
@media all and (max-width: 988px) {
  .styling-list {
    column-gap: 40px;
  }
}
@media all and (max-width: 986px) {
  .styling-list {
    column-gap: 39px;
  }
}
@media all and (max-width: 984px) {
  .styling-list {
    column-gap: 38px;
  }
}
@media all and (max-width: 982px) {
  .styling-list {
    column-gap: 37px;
  }
}
@media all and (max-width: 980px) {
  .styling-list {
    column-gap: 36px;
  }
}
@media all and (max-width: 978px) {
  .styling-list {
    column-gap: 35px;
  }
}
@media all and (max-width: 976px) {
  .styling-list {
    column-gap: 34px;
  }
}
@media all and (max-width: 974px) {
  .styling-list {
    column-gap: 33px;
  }
}
@media all and (max-width: 972px) {
  .styling-list {
    column-gap: 32px;
  }
}
@media all and (max-width: 970px) {
  .styling-list {
    column-gap: 31px;
  }
}
@media all and (max-width: 968px) {
  .styling-list {
    column-gap: 30px;
  }
}
@media all and (max-width: 966px) {
  .styling-list {
    column-gap: 29px;
  }
}
@media all and (max-width: 964px) {
  .styling-list {
    column-gap: 28px;
  }
}
@media all and (max-width: 962px) {
  .styling-list {
    column-gap: 27px;
  }
}
@media all and (max-width: 960px) {
  .styling-list {
    column-gap: 26px;
  }
}
@media all and (max-width: 958px) {
  .styling-list {
    column-gap: 25px;
  }
}
@media all and (max-width: 956px) {
  .styling-list {
    column-gap: 24px;
  }
}
@media all and (max-width: 954px) {
  .styling-list {
    column-gap: 23px;
  }
}
@media all and (max-width: 952px) {
  .styling-list {
    column-gap: 22px;
  }
}
@media all and (max-width: 950px) {
  .styling-list {
    column-gap: 21px;
  }
}
@media all and (max-width: 948px) {
  .styling-list {
    column-gap: 20px;
  }
}
@media all and (max-width: 946px) {
  .styling-list {
    column-gap: 19px;
  }
}
@media all and (max-width: 944px) {
  .styling-list {
    column-gap: 18px;
  }
}
@media all and (max-width: 942px) {
  .styling-list {
    column-gap: 17px;
  }
}
@media all and (max-width: 940px) {
  .styling-list {
    column-gap: 83px;
  }
}
@media all and (max-width: 938px) {
  .styling-list {
    column-gap: 82px;
  }
}
@media all and (max-width: 936px) {
  .styling-list {
    column-gap: 80px;
  }
}
@media all and (max-width: 934px) {
  .styling-list {
    column-gap: 78px;
  }
}
@media all and (max-width: 932px) {
  .styling-list {
    column-gap: 76px;
  }
}
@media all and (max-width: 930px) {
  .styling-list {
    column-gap: 74px;
  }
}
@media all and (max-width: 928px) {
  .styling-list {
    column-gap: 72px;
  }
}
@media all and (max-width: 926px) {
  .styling-list {
    column-gap: 70px;
  }
}
@media all and (max-width: 924px) {
  .styling-list {
    column-gap: 68px;
  }
}
@media all and (max-width: 922px) {
  .styling-list {
    column-gap: 66px;
  }
}
@media all and (max-width: 920px) {
  .styling-list {
    column-gap: 64px;
  }
}
@media all and (max-width: 918px) {
  .styling-list {
    column-gap: 62px;
  }
}
@media all and (max-width: 916px) {
  .styling-list {
    column-gap: 60px;
  }
}
@media all and (max-width: 914px) {
  .styling-list {
    column-gap: 58px;
  }
}
@media all and (max-width: 912px) {
  .styling-list {
    column-gap: 56px;
  }
}
@media all and (max-width: 910px) {
  .styling-list {
    column-gap: 54px;
  }
}
@media all and (max-width: 908px) {
  .styling-list {
    column-gap: 52px;
  }
}
@media all and (max-width: 906px) {
  .styling-list {
    column-gap: 50px;
  }
}
@media all and (max-width: 904px) {
  .styling-list {
    column-gap: 48px;
  }
}
@media all and (max-width: 902px) {
  .styling-list {
    column-gap: 46px;
  }
}
@media all and (max-width: 900px) {
  .styling-list {
    column-gap: 44px;
  }
}
@media all and (max-width: 898px) {
  .styling-list {
    column-gap: 42px;
  }
}
@media all and (max-width: 896px) {
  .styling-list {
    column-gap: 40px;
  }
}
@media all and (max-width: 894px) {
  .styling-list {
    column-gap: 38px;
  }
}
@media all and (max-width: 892px) {
  .styling-list {
    column-gap: 36px;
  }
}
@media all and (max-width: 890px) {
  .styling-list {
    column-gap: 34px;
  }
}
@media all and (max-width: 888px) {
  .styling-list {
    column-gap: 32px;
  }
}
@media all and (max-width: 886px) {
  .styling-list {
    column-gap: 30px;
  }
}
@media all and (max-width: 884px) {
  .styling-list {
    column-gap: 28px;
  }
}
@media all and (max-width: 882px) {
  .styling-list {
    column-gap: 26px;
  }
}
@media all and (max-width: 880px) {
  .styling-list {
    column-gap: 24px;
  }
}
@media all and (max-width: 878px) {
  .styling-list {
    column-gap: 22px;
  }
}
@media all and (max-width: 876px) {
  .styling-list {
    column-gap: 20px;
  }
}
@media all and (max-width: 874px) {
  .styling-list {
    column-gap: 18px;
  }
}
@media all and (max-width: 872px) {
  .styling-list {
    column-gap: 113px;
  }
}
@media all and (max-width: 870px) {
  .styling-list {
    column-gap: 111px;
  }
}
@media all and (max-width: 868px) {
  .styling-list {
    column-gap: 109px;
  }
}
@media all and (max-width: 866px) {
  .styling-list {
    column-gap: 107px;
  }
}
@media all and (max-width: 864px) {
  .styling-list {
    column-gap: 105px;
  }
}
@media all and (max-width: 862px) {
  .styling-list {
    column-gap: 103px;
  }
}
@media all and (max-width: 860px) {
  .styling-list {
    column-gap: 101px;
  }
}
@media all and (max-width: 858px) {
  .styling-list {
    column-gap: 99px;
  }
}
@media all and (max-width: 856px) {
  .styling-list {
    column-gap: 97px;
  }
}
@media all and (max-width: 854px) {
  .styling-list {
    column-gap: 95px;
  }
}
@media all and (max-width: 852px) {
  .styling-list {
    column-gap: 93px;
  }
}
@media all and (max-width: 850px) {
  .styling-list {
    column-gap: 91px;
  }
}
@media all and (max-width: 848px) {
  .styling-list {
    column-gap: 89px;
  }
}
@media all and (max-width: 846px) {
  .styling-list {
    column-gap: 87px;
  }
}
@media all and (max-width: 844px) {
  .styling-list {
    column-gap: 85px;
  }
}
@media all and (max-width: 842px) {
  .styling-list {
    column-gap: 83px;
  }
}
@media all and (max-width: 840px) {
  .styling-list {
    column-gap: 81px;
  }
}
@media all and (max-width: 838px) {
  .styling-list {
    column-gap: 79px;
  }
}
@media all and (max-width: 836px) {
  .styling-list {
    column-gap: 77px;
  }
}
@media all and (max-width: 834px) {
  .styling-list {
    column-gap: 75px;
  }
}
@media all and (max-width: 832px) {
  .styling-list {
    column-gap: 73px;
  }
}
@media all and (max-width: 830px) {
  .styling-list {
    column-gap: 71px;
  }
}
@media all and (max-width: 828px) {
  .styling-list {
    column-gap: 69px;
  }
}
@media all and (max-width: 826px) {
  .styling-list {
    column-gap: 67px;
  }
}
@media all and (max-width: 824px) {
  .styling-list {
    column-gap: 65px;
  }
}
@media all and (max-width: 822px) {
  .styling-list {
    column-gap: 63px;
  }
}
@media all and (max-width: 820px) {
  .styling-list {
    column-gap: 61px;
  }
}
@media all and (max-width: 818px) {
  .styling-list {
    column-gap: 59px;
  }
}
@media all and (max-width: 816px) {
  .styling-list {
    column-gap: 57px;
  }
}
@media all and (max-width: 814px) {
  .styling-list {
    column-gap: 55px;
  }
}
@media all and (max-width: 812px) {
  .styling-list {
    column-gap: 53px;
  }
}
@media all and (max-width: 810px) {
  .styling-list {
    column-gap: 51px;
  }
}
@media all and (max-width: 808px) {
  .styling-list {
    column-gap: 49px;
  }
}
@media all and (max-width: 806px) {
  .styling-list {
    column-gap: 47px;
  }
}
@media all and (max-width: 804px) {
  .styling-list {
    column-gap: 45px;
  }
}
@media all and (max-width: 802px) {
  .styling-list {
    column-gap: 43px;
  }
}
@media all and (max-width: 800px) {
  .styling-list {
    column-gap: 41px;
  }
}
@media all and (max-width: 798px) {
  .styling-list {
    column-gap: 39px;
  }
}
@media all and (max-width: 796px) {
  .styling-list {
    column-gap: 37px;
  }
}
@media all and (max-width: 794px) {
  .styling-list {
    column-gap: 35px;
  }
}
@media all and (max-width: 792px) {
  .styling-list {
    column-gap: 33px;
  }
}
@media all and (max-width: 790px) {
  .styling-list {
    column-gap: 31px;
  }
}
@media all and (max-width: 788px) {
  .styling-list {
    column-gap: 29px;
  }
}
@media all and (max-width: 786px) {
  .styling-list {
    column-gap: 27px;
  }
}
@media all and (max-width: 784px) {
  .styling-list {
    column-gap: 25px;
  }
}
@media all and (max-width: 782px) {
  .styling-list {
    column-gap: 23px;
  }
}
@media all and (max-width: 780px) {
  .styling-list {
    column-gap: 21px;
  }
}
@media all and (max-width: 778px) {
  .styling-list {
    column-gap: 19px;
  }
}
@media all and (max-width: 776px) {
  .styling-list {
    column-gap: 17px;
  }
}
@media all and (max-width: 774px) {
  .styling-list {
    column-gap: 15px;
  }
}
/* @media all and (max-width: 755px) {
  .styling-list {
    column-gap: 48px;
  }
}
@media all and (max-width: 753px) {
  .styling-list {
    column-gap: 46px;
  }
}
@media all and (max-width: 751px) {
  .styling-list {
    column-gap: 44px;
  }
}
@media all and (max-width: 749px) {
  .styling-list {
    column-gap: 42px;
  }
}
@media all and (max-width: 747px) {
  .styling-list {
    column-gap: 40px;
  }
}
@media all and (max-width: 745px) {
  .styling-list {
    column-gap: 38px;
  }
}
@media all and (max-width: 743px) {
  .styling-list {
    column-gap: 36px;
  }
}
@media all and (max-width: 741px) {
  .styling-list {
    column-gap: 34px;
  }
}
@media all and (max-width: 739px) {
  .styling-list {
    column-gap: 32px;
  }
}
@media all and (max-width: 737px) {
  .styling-list {
    column-gap: 30px;
  }
}
@media all and (max-width: 735px) {
  .styling-list {
    column-gap: 28px;
  }
}
@media all and (max-width: 733px) {
  .styling-list {
    column-gap: 26px;
  }
}
@media all and (max-width: 731px) {
  .styling-list {
    column-gap: 24px;
  }
}
@media all and (max-width: 729px) {
  .styling-list {
    column-gap: 22px;
  }
}
@media all and (max-width: 727px) {
  .styling-list {
    column-gap: 20px;
  }
}
@media all and (max-width: 725px) {
  .styling-list {
    column-gap: 18px;
  }
}
@media all and (max-width: 723px) {
  .styling-list {
    column-gap: 16px;
  }
}
@media all and (max-width: 721px) {
  .styling-list {
    column-gap: 14px;
  }
}
@media all and (max-width: 719px) {
  .styling-list {
    column-gap: 12px;
  }
}
@media all and (max-width: 717px) {
  .styling-list {
    column-gap: 10px;
  }
}
@media all and (max-width: 715px) {
  .styling-list {
    column-gap: 8px;
  }
}
@media all and (max-width: 713px) {
  .styling-list {
    column-gap: 6px;
  }
}
@media all and (max-width: 711px) {
  .styling-list {
    column-gap: 4px;
  }
} */
