@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
/* .noto-sans kr-<uniquifier> {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  } */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
img {
  vertical-align: middle;
  border: 0;
}
ul,
li {
  list-style: none;
}
html {
  font-size: 10px;
  word-break: keep-all;
}
body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1.3rem;
  background-color: #eee;
}
/* 공통 클래스 */
.inner {
  display: block;
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
}
/* .bt-link-more {
  display: inline-block;
  font-size: 16px;
  line-height: 56px;
  padding: 0 40px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 28px;
  color: #333;
  font-weight: 700;
  margin-top: 20px;
} */
/* more 버튼 */
.section-bottom {
  text-align: center;
}
.more-bt {
  display: inline-block;
  font-size: 2rem;
  line-height: 50px;
  color: #fff;
  font-weight: 300;
  margin-top: 60px;
  width: 200px;
  height: 50px;
  background-color: #595959;
}
/* section */
.section-top {
}

#wrap {
}
.topbanner {
  background: url("../images/topBanner.jpg") no-repeat center;
  width: 100%;
  height: 45px;
}
.header {
  width: 100%;
  height: 100px;
}
.header .inner {
  width: 1200px;
  height: 100%;
  display: flex;
  /* background-color: aquamarine; */
}
.header-left {
  display: flex;
  align-items: center;
  gap: 0 80px;
  width: 620px;
}
.header-left .logo {
  display: inline-block;
  background: url("../images/logo.png") no-repeat center;
  background-size: contain;
  width: 70px;
  height: 60px;
}
.header-left .header-menu .menu-list {
  display: flex;
  justify-content: space-between;
  width: 474px;
}
.header-left .header-menu .menu-list li a {
  font-size: 1.8rem;
  color: #000;
}
.header-right {
  width: 580px;
  display: flex;
  align-items: center;
}
.search {
  display: flex;
  align-items: center;
  width: 200px;
  margin-left: 80px;
  margin-right: 30px;
  gap: 0;
}
.search-input {
  align-items: center;
  width: 200px;
  height: 45px;
  border: none;
  background-color: #fff;
  border-bottom: 2px solid #797979;
}
.search-text {
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 1.6rem;
  outline: none;
  border: none;
  background-color: none;
}
.search-bt {
  background: url("../images/search.png") no-repeat center;
  background-size: contain;
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
}
.header-right .mypage {
  display: flex;
  justify-content: space-between;
  width: 270px;
}
.mypage li a {
  color: #797979;
  font-size: 1.8rem;
}
/* swiper button */
.top-slide > .inner {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
.top-slide .sw-bt {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.13);
  font-size: 0;
  cursor: pointer;
}
.top-slide .sw-next {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
  z-index: 99;
}
.top-slide .sw-prev {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  z-index: 99;
}
.sw-bt::before {
  display: block;
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 4px);
  content: "";
  width: 8px;
  height: 16px;
  background: url("../images/slider_arrow.svg") no-repeat center;
}
.sw-prev::before {
  transform: scaleX(-100%);
}
/* swiper */
.top-slide {
  /* width: 100%; */
  height: 500px;
  background-color: #eeee;
}
.top-slide .sw-top {
  text-align: center;
  height: 100%;
}
.sw-top a {
  display: inline-block;
}
.sw-top a img {
  width: 100%;
  height: auto;
}
.sw-top-control {
  position: relative;
  text-align: center;
  z-index: 999;
  margin-top: -50px;
}
.sw-top-control .sw-top-pg {
  display: inline-block;
}
.sw-top-pg .swiper-pagination-bullet-active {
  width: 10px;
  height: 10px;
  background-color: #fff;
}
/* :root {
  --swiper-theme-color: #000;
} */
/* weekly-best */
/* 상단 */
/* section */

/* 서아파트 */
/* 중간배너 */
.centerbanner .inner {
  width: 1200px;
  background-color: #eeeeee;
}
.sw-centerbanner a {
  width: 1200px;
  height: 100px;
  display: block;
  overflow: hidden;
}
.sw-centerbanner img {
  width: 1200px;
  height: 100%;
}
/* 네비게이션 */
.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

.sw-centerbanner-pg {
  display: none;
}
/*리뷰 */
.review .inner {
  width: 1200px;
  background-color: #eeeeee;
}
.review-top {
  width: 1200px;
  height: 100px;
}
.review-top h1 {
  font-size: 30px;
  padding-top: 20px;
}
.review-contents {
  width: 100%;
  height: 780px;
  display: flex;
  flex-wrap: wrap;
}
.reviewsection {
  width: 230px;
  height: 140px;
  padding: 15px;
  background-color: #fff;
}
.review1,
.review2,
.review3,
.review4,
.review5,
.review6,
.review7,
.review8,
.review9,
.review10 {
  width: 230px;
  height: 370px;
  box-shadow: 2px 4px 10px 3px rgb(219, 219, 219);
}
.review2,
.review3,
.review4,
.review5,
.review7,
.review8,
.review9,
.review10 {
  margin-left: 12px;
}
.clothes {
  font-size: 14px;
  font-weight: 400;
  color: #000;
  /* margin-bottom: 5px; */
}
.grad {
  font-size: 11px;
  color: #9b9b9b;
}
.grad1 {
  font-size: 11px;
  color: #000000;
}
.gradreviewname {
  float: left;
}
.review1 ul li:nth-child(2) {
  padding-top: 5px;
  padding-bottom: 5px;
}
.review1 ul li:nth-child(3) {
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #eaeaea;
}
.reviewname {
  font-size: 11px;
  color: #9b9b9b;
  padding-left: 10px;
}
.reviewname1 {
  font-size: 11px;
  color: #000000;
}

.star {
  font-size: 12px;
  color: #ff8a00;
}
.star1 {
  padding-left: 5px;
  font-size: 11px;
  color: #9b9b9b;
}
.review1 ul li:nth-child(4) {
  padding-top: 3px;
  padding-bottom: 3px;
}
.reviewsection .reviewsubstance {
  font-size: 14px;
  color: #000000;
  max-height: 70px;
  height: 35px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 17px;
}
.name {
  font-size: 12px;
  color: #9b9b9b;
}
.day {
  padding-left: 10px;
  font-size: 12px;
  color: #000000;
}
.review1 ul li:nth-child(6) {
  padding-top: 4px;
}
/* 리뷰2 */
.review2 ul li:nth-child(2) {
  padding-top: 5px;
  padding-bottom: 5px;
}
.review2 ul li:nth-child(3) {
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #eaeaea;
}
.review2 ul li:nth-child(4) {
  padding-top: 3px;
  padding-bottom: 3px;
}
.review2 ul li:nth-child(6) {
  padding-top: 4px;
}
/* 리뷰3 */
.review3 ul li:nth-child(2) {
  padding-top: 5px;
  padding-bottom: 5px;
}
.review3 ul li:nth-child(3) {
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #eaeaea;
}
.review3 ul li:nth-child(4) {
  padding-top: 3px;
  padding-bottom: 3px;
}
.review3 ul li:nth-child(6) {
  padding-top: 4px;
}
/* 리뷰4 */
.review4 ul li:nth-child(2) {
  padding-top: 5px;
  padding-bottom: 5px;
}
.review4 ul li:nth-child(3) {
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #eaeaea;
}
.review4 ul li:nth-child(4) {
  padding-top: 3px;
  padding-bottom: 3px;
}
.review4 ul li:nth-child(6) {
  padding-top: 4px;
}
/* 리뷰5 */
.review5 {
  margin-bottom: 40px;
}
.review5 ul li:nth-child(2) {
  padding-top: 5px;
  padding-bottom: 5px;
}
.review5 ul li:nth-child(3) {
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #eaeaea;
}
.review5 ul li:nth-child(4) {
  padding-top: 3px;
  padding-bottom: 3px;
}
.review5 ul li:nth-child(6) {
  padding-top: 4px;
}
/* 리뷰6 */
.review6 ul li:nth-child(2) {
  padding-top: 5px;
  padding-bottom: 5px;
}
.review6 ul li:nth-child(3) {
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #eaeaea;
}
.review6 ul li:nth-child(4) {
  padding-top: 3px;
  padding-bottom: 3px;
}
.review6 ul li:nth-child(6) {
  padding-top: 4px;
}
/* 리뷰7 */
.review7 ul li:nth-child(2) {
  padding-top: 5px;
  padding-bottom: 5px;
}
.review7 ul li:nth-child(3) {
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #eaeaea;
}
.review7 ul li:nth-child(4) {
  padding-top: 3px;
  padding-bottom: 3px;
}
.review7 ul li:nth-child(6) {
  padding-top: 4px;
}
/* 리뷰8 */
.review8 ul li:nth-child(2) {
  padding-top: 5px;
  padding-bottom: 5px;
}
.review8 ul li:nth-child(3) {
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #eaeaea;
}
.review8 ul li:nth-child(4) {
  padding-top: 3px;
  padding-bottom: 3px;
}
.review8 ul li:nth-child(6) {
  padding-top: 4px;
}
/* 리뷰9 */
.review9 ul li:nth-child(2) {
  padding-top: 5px;
  padding-bottom: 5px;
}
.review9 ul li:nth-child(3) {
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #eaeaea;
}
.review9 ul li:nth-child(4) {
  padding-top: 3px;
  padding-bottom: 3px;
}
.review9 ul li:nth-child(6) {
  padding-top: 4px;
}
/* 리뷰10 */
.review10 ul li:nth-child(2) {
  padding-top: 5px;
  padding-bottom: 5px;
}
.review10 ul li:nth-child(3) {
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #eaeaea;
}
.review10 ul li:nth-child(4) {
  padding-top: 3px;
  padding-bottom: 3px;
}
.review10 ul li:nth-child(6) {
  padding-top: 4px;
}
/* FOCUS ON */
.focuson {
  background-color: #000;
  width: 100%;
  height: 100%;
  margin-top: 40px;
}
.focuson .inner {
  width: 1200px;
  height: 100%;
}
.focuson-left {
  width: 300px;
  height: 500px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
}
.focuson-left > ul > li:nth-child(1) {
  font-size: 36px;
  font-weight: 700;
  color: #fff;
  text-align: center;
}
.focuson-left::after {
  content: "";
  position: relative;
  top: -74px;
  right: 52px;
  width: 50px;
  height: 8px;
  background-color: #ffe500;
}
.focuson-left > ul > li:nth-child(2) {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  line-height: 58px;
  padding-top: 30px;
}
.focuson-left > ul > li:nth-child(3) {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  padding-top: 40px;
}
.focuson-video {
  width: 1200px;
  height: 500px;
  background-color: #ff8a00;
}
.focuson-video a img {
  width: 900px;
  height: 500px;
}
.focuson-video a::after {
  content: "";
  display: block;
  width: 86px;
  height: 86px;
  background: url("../images/kv-movie.png") no-repeat center;
  position: absolute;
  top: 45%;
  left: 59%;
}
.focuson-video.hide-after a::after {
  display: none; /* ::after 요소를 숨깁니다. */
}
/* 인스타그램 */
.instagram{
  width: 100%;
  height: 100%;
  margin-top: 40px;
}
.instagram .inner {
  width: 1200px;
  background-color: #eeeeee;
}
.instagram-top {
  width: 1200px;
  height: 90px;
  margin-top: 40px;
}
.instagram-top h1 {
  font-size: 30px;
}
.instagram-top span {
  font-size: 20px;
  color: #a5a5a5;
  font-weight: 300;
}
.instagram-contents {
  width: 1200px;
  height: 740px;
}
.instagram-contents ul {
  display: flex;
  flex-wrap: wrap;
}
.instagram-contents ul > li {
  box-shadow: 2px 4px 10px 3px rgb(175, 175, 175);
}
.instagram-contents ul > li:nth-child(2) {
  margin-left: 67px;
}
.instagram-contents ul > li:nth-child(3) {
  margin-left: 67px;
}
.instagram-contents ul > li:nth-child(4) {
  margin-left: 66px;
}
.instagram-contents ul > li:nth-child(5) {
  margin-top: 50px;
}
.instagram-contents ul > li:nth-child(6) {
  margin-left: 67px;
  margin-top: 50px;
}
.instagram-contents ul > li:nth-child(7) {
  margin-left: 67px;
  margin-top: 50px;
}
.instagram-contents ul > li:nth-child(8) {
  margin-left: 66px;
  margin-top: 50px;
}
/* 푸터 */
footer {
  width: 100%;
  height: 400px;
  margin-top: 40px;
}
.footer-top{
  width:100%;
  height: 350px;
  background-color: #535353;
}
.footer-bottom{
  width:100%;
  height: 50px;
  background-color: #c7c7c7;
}
